@import "oldstyle.css";

html {background:url(/static/images/bkg.png); background-color: #002233; }
body {margin:0; font-size:12px; line-height:20px; font-family:Arial, Helvetica, sans-serif; }
a {color:#EE4400; text-decoration:none;}
a:hover {text-decoration:underline;}
a.sidebarlink  {text-decoration:none; font-weight: bold; }
a.sidebarlink:hover  {text-decoration:underline; }

#container {width:782px; margin:0 auto; padding-top: 10px;}
#container-leaf {width:100%; margin:0 auto; padding-top: 0px;}

#logo {font-size:24px; font-family:"Georgia"; float: right; margin-top: 23px; margin-right: 20px; height: 115px; }
#logo a {color:#FFFFFF; text-decoration:none; text-transform:uppercase;}

#intro {font-size:24px; font-family:"Georgia", sans-serif;; line-height: 29px; color: #fff; padding-top: 35px; padding-left: 15px; }
#intro-leaf {font-size:24px; font-family:"Georgia", sans-serif; line-height: 29px; color: #fff; padding-left: 15px; }

#header { background:url(/static/images/main_bkg.png) center -74px no-repeat; height: 70px; }
#header-leaf {  }

#main {margin:0px 0px 0px 0px; float:left; background-color:#FFFFFF; min-height:550px; display:inline; }

#text {margin: 30px 280px 0 40px; }
#text ul {padding:0; margin:10px 0 10px 40px;}
#text li {list-style:none; padding-left:15px; background:url(/static/images/li.gif) no-repeat 0px 6px;}
h1 {margin:20px 0 20px 0; font-weight: normal; color:#EE4400; font-family:"Georgia"; font-size:26px; }
#text p {margin:10px 0;}
#sidebar {float:right; padding:20px 20px 0 20px; width:180px; border: 1px solid #ccc; background-color: #ebebeb; margin-right: 20px; }
#sidebar h2 {font-family:"Georgia"; margin:0 0 10px 0; font-size:18px; font-weight:normal; color: #002233 }
#sidebar ul {margin:0; padding:0;}
#sidebar li.top {list-style:none; border-bottom:1px solid #83b3d0; border-top:1px solid #83b3d0;  padding:6px 6px; line-height: 14px; }
#sidebar li {list-style:none; border-bottom:1px solid #83b3d0; padding:6px 6px; line-height: 14px; }
#sidebar li:hover {background-color:#f3f3f3; }

#footer {padding:0 10px; height:169px; clear:both; background:url(/static/images/footer_bkg.png) center top no-repeat; padding-top: 20px;}
#footer-leaf {padding:0 10px 30px 10px; clear:both; margin-top: -60px; height: 4em;}
#menu_footer {color:#7A2200; font-size:11px; padding:10px 0 0 0px; border-top: 0px solid #ccc; margin-left: 20px; margin-right: 20px; margin-top: 40px; margin-bottom: 30px; }
#left_footer {float:left; padding:30px 0 0 10px; color:#FFFFFF; font-size:12px;}
#left_footer a {color:#fff399;}
#right_footer {float:right; padding:30px 10px 0 0; color:#FFFFFF; font-size:12px;}
#right_footer a {color:#fff399;}



.frontbox {
    padding: .05em;
	background-color: #e6f2f9;
	border-left: 1px solid #99c7e4;
	border-right: 1px solid #99c7e4;
	background:transparent url(/static/images/gradient.middle.gif) center 0px no-repeat; 
    text-align: center;
    width: 458px;
}

.liquidbox {
    padding: .05em 20px;
	background-color: #e6f2f9;
	border-left: 1px solid #99c7e4;
	border-right: 1px solid #99c7e4;
	background:transparent url(/static/images/gradient.middle.gif) center 0px no-repeat; 
}

.frontbox h1 {margin:0px 0 0 0; font-weight: normal; color:#EE4400; font-family:"Georgia"; font-size:22px; }

/*textarea { background-color: #d9eefa; border: 1px solid #83b3d0; color: #999; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin: 10px 4px 0px 0px; }
textarea:focus { background-color: #f0faff; border: 1px solid #83b3d0; color: #EE4400; }
input {  border: 1px solid #83b3d0; color: #999; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin-right: 4px; }
input:focus { color: #EE4400; background-color: #f0faff;  }*/
input.personalize { background-color: #002233; border: 1px solid #0f5b89; color: #FFF399; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin-right: 4px; width: 152px; font-size:12px; line-height:20px; font-family:Arial, Helvetica, sans-serif; }
input.personalize:focus { background-color: #0f5b89; border: 1px solid #EE4400;  }
input.zipcode { background-color: #FFF399; border: 1px solid #0f5b89; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin-right: 4px; width: 152px; font-size:12px; line-height:20px; font-family:Arial, Helvetica, sans-serif; margin-top: -15px; margin-bottom: 8px; margin-left: -7px; width: 100%; }
input.zipcode:focus { background-color: #c6dcf1; border: 1px solid #EE4400;  }
input.white { background-color: #fff; border: 1px solid #0f5b89; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin-right: 4px; }
input.white:focus { background-color: #fff; border: 1px solid #EE4400;  }
input.password { background-color: #fff; border: 1px solid #50aa50; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin-right: 4px;  width: 90%; }
input.password:focus { background-color: #fff; border: 1px solid #50aa50;  }
input.highlight { background-color: #FFF399; border: 1px solid #EE4400; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 5px 6px 5px 6px; margin-right: 4px;  }
input.highlight:focus { background-color: #fdf6c5; border: 1px solid #EE4400;  }

button {border: 1px solid #0f5b89; background-color: #0f5b89; color: #fff; font-size:14px; font-family:"Georgia"; padding: 3px 6px 3px 6px; margin-right: 4px; margin-top: 1em;}
button:hover {border: 1px solid #EE4400; background-color: #EE4400; color: #fff; font-size:14px; font-family:"Georgia"; padding: 3px 6px 3px 6px; margin-right: 4px;}
button.personalize {border: 1px solid #0f5b89; background-color: #0f5b89; color: #fff; font-size:14px; font-family:"Georgia"; padding: 3px 2px 3px 2px; margin-right: 0px;}
button.personalize:hover {border: 1px solid #D8D600; background-color: #FFF399; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 3px 2px 3px 2px;}
button.alert {border: 1px solid #EE4400; background-color: #EE4400; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 1px;}
button.alert:hover {border: 1px solid #EE4400; background-color: #EE4400; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px;}

.postit {border: 4px solid #fff; background-color: #FFF399; padding: 1em; margin-right: auto; margin-top: 20px; line-height: 16px; margin-bottom: 30px; }
.signatories { text-align: center; padding: 4px 6px 4px 6px; font-size: larger; width: 20em; background-color: #02283c; margin-top: 80px;  color: white; font-family:"Georgia"; border: 1px solid #02283c;}
.slickform {border: 1px solid #D8D600; background-color: #FFF399; padding: 1em; margin-right: auto; margin-top: 20px; line-height: 16px; }
.blurb { font-size: 11px; line-height: 13px; padding-top: 3px; }

.attribution { font-size: 11px; padding-bottom: 3px; padding-top: 10px; color: #999;  }
a.attributelink  { color: #0f5b89 }

a.highlight {background-color: #EE4400; border: 1px solid #fff; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 4px;}
a.highlight:hover {background-color: #d9eefa; border: 1px solid #83b3d0; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 4px;}
a.select {background-color: #eee; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; border-bottom: 4px solid #ccc; border-top: 1px solid #ccc; margin-right: 1px; }
a.watchdog {border: 1px solid #0f5b89; background-color: #0f5b89; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 4px;}
a.watchdog:hover {border: 1px solid #002233; background-color: #002233; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 4px;}
a.footer {border: 1px solid #EE4400; background-color: #EE4400; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 1px;}
a.footer:hover {border: 1px solid #D8D600; background-color: #FFF399; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px;}
a.action {background-color: #d9eefa; border: 1px solid #83b3d0; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 4px; }
a.action:hover {background-color: #d9eefa; border: 1px solid #83b3d0; color: #EE4400; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 4px;}
a.task {border: 1px solid #50aa50; background-color: #50aa50; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px; margin-right: 1px;}
a.task:hover {border: 1px solid #50aa50; background-color: #50aa50; color: #fff; font-size:14px; font-family:"Georgia"; padding: 4px 6px 4px 6px;}

.strapline { border-bottom: 1px solid #ccc; margin-top: -12px; margin-bottom: 44px;  }

img { border:none }

.subhead-blue {margin:0 0 0px 0; font-size:18px; font-weight:bold; color: #6ea9cf; }

.petition { border-top: 1px solid #ccc; padding: 10px;}

.rep-info { border-bottom: 1px solid #ccc; height: 160px; }
.rep-info-item {}

fieldset { width: 510px; border: 1px solid #ccc; background: #F5F5FD; padding: 0 2em 2em 2em; margin: 0 0 2em 0; }
legend { font-weight: bold; font-size: 1.2em; padding: 0 0.5em; color:#EE4400; }
fieldset textarea { font-size: 1.1em; width: 505px; padding: 0.2em; height: 200px; }
fieldset label { display: block; font-size: 0.95em; margin-top: 1em; }
fieldset input { padding: 0.2em; font-weight: bold; font-size: 1.2em; max-width: 500px; }
fieldset th { vertical-align: middle; }

table.imgbox { clear: left; margin-bottom: 2em; }
table.imgbox td.left { text-align: center; width: 112px; }
table.imgbox td.left img { width: 112px;}
table.imgbox td.right { padding-left: 15px; vertical-align: top; padding-top: 1em;}

#upperbar { background-color: #d9eefa; padding: 0.8em 1.5em; position: relative; }
#upperbar h2 { display: inline; font-size: 1.2em;}
#upperbar #uppermenu { color: #a8dcfa; position: absolute; top: 0.8em; right: 1.5em;}
#upperbar #uppermenu a { margin: 0 0.2em; }

#sharepetition #emails { height: 50px; }
#sharepetition #subject { width: 500px; }
#loadcontacts button { margin-top: 0.5em; }
#loadcontacts p { margin: 0 0 0.5em 0; }
#loadcontacts #email { margin-bottom: 0.5em;}
#loadcontacts #provider span { display: block; }

.login { padding-right: 1.5em; border-right: 1px solid #ccc; }
.signup { padding-left: 1.5em; }
.login th, .signup th { font-weight: normal; }
.login fieldset, .signup fieldset { width: 250px; }
.login input, .signup input { width: 250px; }
