body, table { margin: 0; font: 14px "Georgia"; line-height: 1.4}
.header { background-color: #182053; margin: 0 0 1em 0 ; color: white; padding: .4em;}
.header h1 { margin: 0; }
.header .nav { float: right; padding-right: 2em; padding-top: .2em; color: white;}
.header .nav a { color: #FEFBC3; }

.intro { width: 80%; margin: auto; text-align: center;}
.bigintro { padding: 1em; background-color: #eee;}
.body { padding: 0 1em 1em 1em;}

.sources { background-color: #eee; color: #555; padding: 1em; font-size: smaller; margin-top: 2em; clear: both;}

.answer { margin-left: 1.5em;}

.footer { text-align: left; border-top: 1px solid #ccc; padding: .5em;}
h1 { font-weight: normal; }
h1 a, h1 img { color: white; text-decoration: none; border: 0; }
th { text-align: right; }

.explain { color: #999; margin-top: -.5em; font-size: smaller;}
.explain a { color: #777; text-decoration: underline; }

.chartlist { width: 20%; padding-left: 0; margin-left: 0;}
.chartlist li { display: block; position: relative; line-height: 1.6; border-bottom: .1em solid white; }
.chartlist li a { position: relative; padding: 0.25em 4.5em 0.25em 9px; min-width: 4.5em; z-index: 2;}
.chartlist .count { color: #888; position: absolute; display: block; top: 0; right: 0; text-align: right; padding-right: .5em; z-index: 2;}
.chartlist .index { display: block; position: absolute; left: 0; top: 0; bottom: 0; background: #cff; text-indent: 9999px; overflow: hidden; min-width: 1px; }

table.charted img { border: 0;}

.strapline { text-align: right; font-style: italic;}
.sparkline { height: 1em; }
.sidemap  { width: 150px; height: 150px; margin-bottom: 2em; float: right; }
.headshot, .smallheadshot { float: left; padding-right: 1em; border: 0;}
.headshot { width: 10em; }
.smallheadshot { width: 5em; margin-top: 1em;}
.pretitle { margin-top: 2em;}

.minimapbox { float: left; text-align: center; width: 300px; }
.minimap { width: 200px; height: 200px; margin: auto;}
.bigmap { width: 50%; height: 300px; margin-bottom: 2em; float: right; }
