body, table { margin: 0; font: 14px "Georgia"; line-height: 1.4}
.header { background-color: #182053; margin: 0 0 1em 0 ; color: white; padding: .4em;}
.header h1 { margin: 0; }
.header .nav { float: right; padding-right: 2em; padding-top: .2em; color: white;}
.header .nav a { color: #FEFBC3; }

.intro { width: 80%; margin: auto; text-align: center;}
.body { padding: 0 1em 1em 1em;}

.sources { background-color: #eee; color: #555; padding: 1em; font-size: smaller; margin-top: 2em; clear: both;}

.answer { margin-left: 1.5em;}

.footer { text-align: left; border-top: 1px solid #ccc; padding: .5em;}
h1 { font-weight: normal; }
h1 a, h1 img { color: white; text-decoration: none; border: 0; }
th { text-align: right; }

.explain { color: #999; margin-top: -.5em; font-size: smaller;}
.explain a { color: #777; text-decoration: underline; }

.chartlist { width: 20%;}
.chartlist td.nut { display: block; position: relative;}
.chartlist td.nut a { position: relative; z-index: 2; padding: 0.25em 4.5em 0.25em 9px; min-width: 4.5em; }
.chartlist .count { color: #888;}
.chartlist .index { display: block; position: absolute; left: 0; top: 0; bottom: 0; background: #cff; text-indent: 9999px; overflow: hidden; min-width: 1px; }
