$def with ()

$var title: About Us

<h2 id="description">What are you up to now?</h2>

<div class="answer">
<p>We're trying to build a hub for politics on the Internet. Our plan has three parts:</p>

<p><strong>Data:</strong> There's a lot of great information out there about politics – district demographics, votes, lobbying records, campaign finance reports – but unfortunately it's split across a dozen different web sites and often hidden behind confusing interfaces. We're pulling all of that together and letting you explore it in one elegant, unified interface. (Plus, we're sharing all the results so you can come up with new ways to explore it.)</p>

<p><strong>Action:</strong> Just giving you information isn't enough. Unless you can <em>do something</em> about it, it's just going to get you down. So we're building a series of first-class tools for getting involved – ways to write and call your representatives, send letters to local media, and figure out who to vote for.</p>

<p><strong>Causes:</strong> But politics isn't about people doing things in isolation; it's about coming together around shared causes. That's why we let you start your own causes and campaigns, invite your friends to join them, and let you learn about other causes that could use your help.</p>

<p>And all of it will be online, free for anyone to use, and available through copious APIs and data dumps to other people who want to build on top of it. (The <a href="/code/">source code</a> is available as well.)</p>

<p>It's an ambitious project, but we're eager to get started. We've put up the little bit we've done so far and we'll be adding more and more just as soon as we've finished building it. Of course, we could <a href="#help">use your help</a> speeding things along.</p>
</div>

<h2 id="people">Who do you think you are?</h2>

<div class="answer">
<p>Programmer <a href="http://btbytes.com/">Pradeep Gowda</a> has spent the past few years living a double life. By day, he's applied machine learning techniques to detect credit card defaults, predict debt recovery, and explore other large data sets for some of India's largest businesses. By night, he's built Python web apps, run the local Python users group in Bangalore, and given Python classes. Now he's finally got the chance to combine the two. He currently lives with his wife outside Indianapolis.</p>

<p>Programmer <a href="http://canonical.org/~kragen/">Kragen Sitaker</a> is one of those people who just can't stop programming. Back during the bubble, when most people were excited about just having web pages that take credit card numbers, he was building sites with AJAX and Comet (long before the terms had been invented). His <code>kragen-hacks</code> feed regularly posts like "I was stuck at an airport for a couple hours, so I wrote <a href="http://www.canonical.org/~kragen/sw/torus.html">a real-time 3D rendering engine in JavaScript</a>." He lives in Buenos Aires.</p>

<p>Designer <a href="http://playgroundblues.com/">Nathan Borror</a> is a master of Web information design. <a href="http://playgroundblues.com/projects/">His portfolio</a> shows an incredible range of intensity and style, each executed with a pitch-perfect sense of spacing and rhythm. Moreover, his pages don't just look good and work well (he's also written his own series of <a href="http://playgroundblues.com/posts/2007/dec/2/django-basic-apps/">simple Django apps</a>), they show a careful appreciation for the issues of information design: his designs aren't just eye candy, each piece actually works hard to inform. He
currently works at the <cite>Lawrence Journal-World</cite> (the birthplace of Django) as their Interactive Art Director, but has graciously agreed to help us out.</p>

<p>Founder <a href="http://www.aaronsw.com/">Aaron Swartz</a> has been building web applications for far too long. He co-founded <a href="http://reddit.com/">Reddit</a> (since purchased by Condé Nast), <a href="http://jottit.com/">Jottit</a>, <a href="http://openlibrary.org/">Open Library</a>, and <a href="http://theinfo.org/">theinfo.org</a>. His writing on technology and politics has appeared in <cite>Extra!</cite>, <cite>Wired</cite>, <cite>Personal Democracy Forum</cite>, and other publications.</p>

<p>We're funded by a generous grant from the <a href="http://sunlightnetwork.com/">Sunlight Network</a> a not-for-profit 501(c)(4) dedicated, like the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>, to promoting the revolutionary power of the Internet to enable people to become active citizens and create a government that is transparent and accountable.</p>
</div>

<h2 id="help">How can I help you?</h2>

<div class="answer">
<p>We need all the help we can get. If you're a programmer (especially a Python programmer), we have dozens of tasks we could use your help with. If you're a designer, we'd love your help cleaning up our pages or refining our look. If you're a people person, we'd love your help tracking people down. If you're a researcher, we'd love your help finding more data sets to integrate. And if you've got money, we'd love some of it to help fund this project. Or maybe there's something else you can contribute.</p>

<p>Whatever you're interested, let us know – we'd love your help.</p>
</div>

<h2 id="feedback">How do I contact you?</h2>

<div class="answer">

<p>You can always email us at <a href="mailto:info@watchdog.net">info@watchdog.net</a> – we'd love to hear from you.</p>

<p>Or you can drop us a note with the form below:</p>

<form method="post" action="/about/feedback">
<strong>email:</strong> <input type="text" name="email" size="35" /> (just so we can reply)<br />
<textarea rows="10" cols="72" name="content">
</textarea>
<p><input type="submit" value="Send" /></p>
</form>
</div>

<h2 id="hiring">Wait, you get paid for this?</h2>

<div class="answer">
<p>Yep, and we're always looking for more to join the team. If you're interested, send us an email (see above) and tell us why you think you'd be a good fit.</p>

<p>We're especially looking for talented programmers at the moment.</p>
</div>

<h2 id="code">How can you help me?</h2>

<div class="answer">
<p>All of our <a href="/code/">source code</a> and <a href="/data/">source data</a> is open. Plus, we have a long series of APIs coming so that others can build on top of our work. More programmer documentation will be coming soon.</p>
</div>
