$def with ()

$var width: 782px
$var color: blue
$var title: The team
$var about_class: select

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td colspan="3" class="infochart">

<h1 id="people">Who we are.</h1>

<div class="answer">
<p>
<strong>Programmer <a href="http://asldevi.emurse.com/" class="secondary">A.S.L. Devi</a></strong><br />
Devi has worked on everything from cryptography to 
libraries of math algorithms to 
performance optimization to
Web 2.0 startups. 
She lives in Bangalore, India.
</p>
  
<p>
<strong>Programmer <a href="http://simonbc.com/" class="secondary">Simon Carstensen</a></strong><br />
Simon won the 2001 ArsDigita Prize for his site "The Reminder Network". 
Since then, he has co-founded Infogami, Jottit.com, Newsflip, 
and graduated from college.
He lives in Copenhagen, Denmark.
</p>

<p>
<strong>Programmer <a href="http://github.com/jdthomas" class="secondary">Jeff Thomas</a></strong><br />
Jeff has built build systems, media players, web applications, and Perl scripts. 
Then he blew all of us away by sending us large new fixes to watchdog.net.
He lives near Sacramento, California, USA.
</p>

<p>
<strong>Programmer <a href="http://canonical.org/~kragen/" class="secondary">Kragen Sitaker</a></strong><br />
is one of those people who just can't stop programming. 
Back during the bubble, 
when most people were excited about 
just having web pages that take credit card numbers, 
he was building sites with AJAX and Comet 
(long before the terms had been invented). 
His <code>kragen-hacks</code> feed regularly has posts like 
"I was stuck at an airport for a couple hours, so I wrote 
<a href="http://www.canonical.org/~kragen/sw/torus.html"
>a real-time 3D rendering engine in JavaScript</a>."
He lives in Buenos Aires, Argentina.
</p>

<p>
<strong>Programmer <a href="http://www.christopherbdnk.com/" class="secondary">Christopher Budnick</a></strong><br />
Christopher is a major player in the Free Culture movement. 
He has previously worked with the Berkman Center, 
the OLPC project,
and 826 Boston.
He lives in Cambridge, Massachusetts, USA.
</p>

<p>
<strong>Designer <a href="http://webchick.org/" class="secondary">Rebecca Malamud</a></strong><br />
Rebecca started doing information design in the late 1980s and hasn't 
let up. Gifted with both an incredible sense of style 
and a breakneck pace, she's created designs for dozens of 
sites, including <a href="http://openlibrary.org/">Open Library</a>,
<a href="http://public.resource.org/">Public.Resource.Org</a>,
<a href="http://mappa.mundi.net">Mappa.Mundi</a>, and many more.
She lives in Sixes, Oregon, USA
</p>

<p>
<strong>Founder <a href="http://www.aaronsw.com/" class="secondary">Aaron Swartz</a></strong><br />
Aaron has been
building web applications for far too long. He
co-founded <a href="http://reddit.com/">Reddit</a> (since purchased by
Condé
Nast), <a href="http://jottit.com/">Jottit</a>, <a href="http://openlibrary.org/">Open
Library</a>, and <a href="http://theinfo.org/">theinfo.org</a>. His
writing on technology and politics has appeared
in <cite>Extra!</cite>, <cite>Wired</cite>, <cite>Personal Democracy
Forum</cite>, and other publications.
He lives in Cambridge, Massachusetts, USA.
</p>

<p><b>We're funded by a grant from
the <a href="http://sunlightnetwork.com/">Sunlight Network</a> 
and the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>,
non-profits dedicated to 
promoting the revolutionary power of the Internet to enable people
to become active citizens and create a government that is transparent
and accountable.</b></p>
</div>
</td></tr></table>

<p><a href="/" class="highlight">Get started...</a></p>
