$def with ()

$var width: 782px
$var color: blue
$var title: About us
$var about_class: select

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td colspan="3" class="infochart">

<p style="float: right; margin-top: 0"><a href="/static/pdf/watchdog.brochure.pdf" class="highlight">PDF</a></p>

<h1>About Watchdog.net</h1>
<h2>We're trying to build a hub for politics on the Internet. Our plan has three parts:</h2><br />
</td>
</tr>
<tr>
<td class="infochart">
<span class="subhead-blue">Data.&nbsp;</span>
<img src="/static/images/icon3.png" style="float: right; width: 112px; padding-left: 15px; padding-top: 8px" alt="icon" />
There's a lot of great information out there about politics — 
votes, lobbying records, campaign finance reports. 
Unfortunately, it's split across a dozen different web sites 
and often hidden behind confusing interfaces. 
We're pulling all of that together 
and letting you explore it in one elegant, unified interface. 
(Plus, we're sharing all the results 
so you can come up with new ways to explore it.)

</td>
<td class="infochart">
<span class="subhead-blue">Action.&nbsp;</span> 
<img src="/static/images/icon1.png" style="float: right; width: 112px; padding-left: 15px; padding-top: 8px" alt="icon" />
Just giving you information isn't
enough. 
Unless you can <em>do something</em> about it, it's just going
to get you down. So we're building a series of first-class tools for
getting involved‚ ways to write and call your representatives, send
letters to local media, and figure out who to vote for.

</td>
<td class="infochart">
<span class="subhead-blue">Causes.&nbsp;</span> 
<img src="/static/images/icon2.png" style="float: right; width: 112px; padding-left: 15px; padding-top: 8px" alt="icon" />
But politics isn't about people doing
things in isolation; it's about coming together around shared
causes.
 That's why we let you start your own causes and campaigns,
invite your friends to join them, and let you learn about other causes
that could use your help.

</td>
</tr>
</table>

<p><a href="/about/help" class="highlight">How you can help...</a></p>



