$def with ()

$var title: About us
$var about_class: select\

<h1>What we're doing.</h1>

<div class="answer" id="description">
<h2>We're trying to build a hub for politics on the Internet. Our plan
has three parts:</h2>

<table class="imgbox"><tr>
<td class="left">
  <img src="/static/images/icon3.png" alt="" />
  <div class="subhead-blue">Data</div> 
</td><td class="right">
There's a lot of great information out there about politics — 
votes, lobbying records, campaign finance reports — 
but unfortunately it's split across a dozen different web sites 
and often hidden behind confusing interfaces. 
We're pulling all of that together 
and letting you explore it in one elegant, unified interface. 
(Plus, we're sharing all the results 
so you can come up with new ways to explore it.)
</td></tr></table>

<table class="imgbox"><tr>
<td class="left">
  <img src="/static/images/icon1.png" alt="" />
  <div class="subhead-blue">Action</div> 
</td><td class="right">
Just giving you information isn't
enough. Unless you can <em>do something</em> about it, it's just going
to get you down. So we're building a series of first-class tools for
getting involved‚ ways to write and call your representatives, send
letters to local media, and figure out who to vote for.
</td></tr></table>

<table class="imgbox"><tr>
<td class="left">
  <img src="/static/images/icon2.png" alt="" />
  <div class="subhead-blue">Causes</div> 
</td><td class="right">
But politics isn't about people doing
things in isolation; it's about coming together around shared
causes. That's why we let you start your own causes and campaigns,
invite your friends to join them, and let you learn about other causes
that could use your help.
</td></tr></table>

<p style="clear: left">It's an ambitious project, but we're eager to get started. We've
put up the little bit we've done so far and we'll be adding more and
more just as soon as we've finished building it. Of course, we
could <a href="#help">use your help</a> speeding things along.</p>

</div>

<h1 id="people">Who we are.</h1>

<div class="answer">
<p>
<strong>Programmer <a href="http://asldevi.emurse.com/">A.S.L. Devi</a></strong><br />
Devi has worked on everything from cryptography to 
libraries of math algorithms to 
performance optimization to
Web 2.0 startups. 
She lives in Bangalore, India.
</p>
  
<p>
<strong>Programmer <a href="http://simonbc.com/">Simon Carstensen</a></strong><br />
Simon won the 2001 ArsDigita Prize for his site "The Reminder Network". 
Since then, he has co-founded Infogami, Jottit.com, Newsflip, 
and graduated from college.
He lives in Copenhagen, Denmark.
</p>

<p>
<strong>Programmer <a href="http://github.com/jdthomas">Jeff Thomas</a></strong><br />
Jeff has built build systems, media players, web applications, and Perl scripts. 
Then he blew all of us away by sending us large new fixes to watchdog.net.
He lives near Sacramento, California, USA.
</p>

<p>
<strong>Programmer Christopher Budnick</strong><br />
Christopher is a major player in the Free Culture movement.
He lives in Cambridge, Massachusetts, USA.
</p>

<p>
<strong>Designer <a href="http://webchick.org/">Rebecca Malamud</a></strong><br />
Rebecca started doing information design in the late 1980s and hasn't 
let up. Gifted with both an incredible sense of style 
and a breakneck pace, she's created designs for dozens of 
sites, including <a href="http://openlibrary.org/">Open Library</a>,
<a href="http://public.resource.org/">public.resource.org</a>,
<a href="http://mappa.mundi.net">Mappa.Mundi</a>, and many more.
She lives in Sixes, Oregon, USA
</p>

<p>
<strong>Founder <a href="http://www.aaronsw.com/">Aaron Swartz</a></strong><br />
Aaron has been
building web applications for far too long. He
co-founded <a href="http://reddit.com/">Reddit</a> (since purchased by
Condé
Nast), <a href="http://jottit.com/">Jottit</a>, <a href="http://openlibrary.org/">Open
Library</a>, and <a href="http://theinfo.org/">theinfo.org</a>. His
writing on technology and politics has appeared
in <cite>Extra!</cite>, <cite>Wired</cite>, <cite>Personal Democracy
Forum</cite>, and other publications.
He lives in Cambridge, Massachusetts, USA.
</p>

<p>We're funded by a generous grant from
the <a href="http://sunlightnetwork.com/">Sunlight Network</a>, a
not-for-profit 501(c)(4) dedicated, like
the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>,
to promoting the revolutionary power of the Internet to enable people
to become active citizens and create a government that is transparent
and accountable.</p>
</div>

<h1 id="help">How to help.</h1>

<div class="answer">
<p>We need all the help we can get. If you're a programmer (especially
a Python programmer), we have dozens of tasks we could use your help
with. If you're a designer, we'd love your help cleaning up our pages
or refining our look. If you're a people person, we'd love your help
tracking people down. If you're a researcher, we'd love your help
finding more data sets to integrate. And if you've got money, we'd
love some of it to help fund this project. Or maybe there's something
else you can contribute.</p>

<p>Whatever you're interested, let us know – we'd love your help.</p>
</div>

<h1 id="feedback">Talking to us.</h1>

<div class="answer">

<p>You can always email us
at <a href="mailto:info@watchdog.net">info@watchdog.net</a> – we'd
love to hear from you.</p>

<p>Or you can drop us a note with the form below:</p>

<form method="post" action="/about/feedback">
<strong>email:</strong> <input type="text" name="email" size="35" />
(just so we can reply)<br />
<textarea rows="10" cols="72" name="content">
</textarea>
<p><button type="submit">Send</button></p>
</form>
</div>

<h2 id="hiring">Wait, you get paid for this?</h2>

<div class="answer">
<p>Yep, and we're always looking for more to join the team. If you're
interested, send us an email (see above) and tell us why you think
you'd be a good fit.</p>

<p>We're especially looking for talented programmers at the moment.</p>
</div>

<h2 id="code">How can you help me?</h2>

<div class="answer">
<p>
All of our <a href="/code/">source code</a>
and <a href="/data/">source data</a> is open. 
Plus, every important page is also available as an API -- 
look at the bottom to see how you can get it as N3, XML, or JSON
or just query the site with the appropriate <code>Accept:</code> header
to get a machine-readable version.
</p>

<p>
We're also working on a variety of other APIs and tools.
For full details,
<a href="/about/api">read our developer documentation</a>.
</p>
</div>
