$def with ()

$var width: 782px
$var color: blue
$var title: How you can help
$var about_class: select

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td colspan="3" class="infochart">


<h1 id="help">How you can help.</h1>

<h2>Whatever you're interested in, let us know – we'd love your help.</h2>

<div class="answer">
<p>We need all the help we can get. If you're a programmer (especially
a Python programmer), we have dozens of tasks we could use your help
with. If you're a people person, we'd love your help
tracking people down. If you're a researcher, we'd love your help
finding more data sets to integrate. And if you've got money, we'd
love some of it to help fund this project. Or maybe there's something
else you can contribute.</p>

<p><a href="/about/feedback" class="highlight actionhighlight">Talk to us!</a></p>
</div>

<h2 id="hiring">Wait, you get paid for this?</h2>

<div class="answer">
<p>Yep, and we're always looking for more to join the team. If you're
interested, send us an email (see above) and tell us why you think
you'd be a good fit.</p>

<p>We're especially looking for talented programmers at the moment.</p>
</div>

<h2 id="code">How can Watchdog.net help me?</h2>

<div class="answer">
<p>
All of our <a href="/code/">source code</a>
and <a href="/data/">source data</a> is open. 
Plus, every important page is also available as an API -- 
look at the bottom to see how you can get it as N3, XML, or JSON
or just query the site with the appropriate <code>Accept:</code> header
to get a machine-readable version.
</p>

<p>
We're also working on a variety of other APIs and tools.
For full details,
<a href="/about/api">read our developer documentation</a>.
</p>
</div>

</td></tr></table>

<p><a href="/about/team" class="highlight">Meet the team...</a></p>


