$def with (page)
<html>
<head>
  <title>$page.title (watchdog.net)</title>
  <link href="/static/style.css" type="text/css" rel="stylesheet" />
  $:page.get('head')
</head><body>
<div class="header">
  <div class="nav"><a href="/about/">about</a> | <a href="/blog/">blog</a> | <a href="/about/#feedback">feedback</a> </div>
  <h1><a href="/"><img src="/static/nameplate.png" alt="watchdog.net" /></a></h1>
</div>
<div class="body">
  
<div style="border: 1px solid #D8D600; background-color: #FFF399; padding: 1em; margin-right: auto;">
  <strong>Pardon the mess</strong> &mdash; we're building this site right before your eyes.
  So expect things to break, fix, appear, and disappear before your very eyes.
  We'd love your <a href="/about/#feedback">feedback</a> and your <a href="/about/#help">help</a>. (<a href="/about/#hiring">We're hiring!</a>)
</div>

<h1>$page.title</h1>

$:page
</div>

<div class="footer">
  What do you think? <a href="/about/#feedback">Send us your feedback.</a>
</div>
</body></html>
