$def with (page)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  $if page.get('front'):
      <title>watchdog.net: $:page.title.strip()</title>
  $else:
      <title>$:page.title.strip() (watchdog.net)</title>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/slicker.js"></script>
  $:page.get('head')
</head><body>
<div id="container"  style="width: $page.get('width');">
<!-- header -->
$if page.get('front'):
    <div id="logo"></div>
  <div id="intro" style="padding-bottom: 20px;">
    $if page.get('front'):
        <a href="/about">
          <img class="logo" src="/static/images/watchdog.slogan.twolines.gif"
            alt="Watchdog. The good government site with teeth." />
        </a></div>
        <table cellpadding="0" cellspacing="0" border="0" width="400">
        <tr>
        <td width="28" class="frontbox-$page.get('color')-top-left"><img src="/static/images/trans.gif" border="0" width="28" height="28" /></td>
        <td width="28" class="frontbox-top-$page.get('color')"></td>
        <td width="28" style="background: transparent"><img src="/static/images/box/right.top.curve.${page.get('color')}.png" border="0" width="28" height="28" /></td>
        </tr><tr>
        <td width="28" class="frontbox-left-$page.get('color')"></td>
        <td class="frontbox" width="344">
    $else: 
        $if is_logged_in():
            <div id="topnav" style="padding-right: 52px;">
            <span style="font-size:14px;">Hi, <a href='/u/$get_user_id()') style="color: #fff;">$get_user_name()</a>.</span>
            <a href="#" onclick="document.forms['logout'].submit()" class="$page.get('login_class', 'footer')">logout</a
        $else:
            <div style="float: right; padding-right: 62px; padding-top: 37px;">
            <a href="/u/login" class="$page.get('login_class', 'footer')">login</a
            
          ><a href="/about/" class="$page.get('about_class', 'footer')">about</a
          ><a href="/blog/" class="$page.get('blog_class', 'footer')">blog</a
          ><a href="/about/feedback" class="$page.get('feedback_class', 'footer')">feedback</a>
        </div>
            <a href="/"><img class="logo" src="/static/images/watchdog.slogan.twolines.gif" alt="Watchdog. The good government site with teeth." /></a>
        </div>
        <div style="top: 55px;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
        <td width="28" class="frontbox-$page.get('color')-top-left"><img src="/static/images/trans.gif" border="0" width="28" height="28" /></td>
        <td width="28" class="frontbox-top-$page.get('color')"></td>
        <td width="28" style="background: transparent"><img src="/static/images/box/right.top.curve.${page.get('color')}.png" border="0" width="28" height="28" /></td>
        </tr><tr>
        <td width="28" class="frontbox-left-$page.get('color')"></td>
        <td class="frontbox-$page.get('color')" width="100%">

<!-- /header -->
<div id="main">


$:page.get('pretext')

$:page.get('pretitle')

$ msg = page.get('msg')
$if msg:
    <div class="msg">$:msg</div>

$:page

$if not page.get('maxi'):
    </div>

$if page.get('front'):
        </td>
        <td width="28" class="frontbox-right-$page.get('color')"></td>
        </tr><tr>
        <td width="28" class="frontbox-$page.get('color')-bottom-left"><img src="/static/images/trans.gif" border="0" width="28" height="28" /></td>
        <td width="28" class="frontbox-bottom-$page.get('color')"></td>
        <td width="28"  style="background: transparent"><img src="/static/images/box/right.bottom.curve.${page.get('color')}.png" border="0" width="28" height="28" /></td>
        </form>
        </tr></table>
        <div id="left_footer_base"><a href="/about/" class="footer">About us...</a></div>
        <div style="text-align: right; margin-top: -4px; width: 450px;"><img src="/static/images/${page.get('color')}.talkbubble.png" width="103" height="135" alt="Talk Bubble" /><a href="/" class="logo"><img src="/static/images/watchdog.talk.gif" width="255" height="135" alt="Watchdog sez -" /></a></div>        
$else:
          <form name="logout" action="/u/logout" method='POST' style="display: none;"></form>
        </td>
        <td width="28" class="frontbox-right-$page.get('color')"></td>
        </tr><tr>
        <td width="28" class="frontbox-$page.get('color')-bottom-left"><img src="/static/images/trans.gif" border="0" width="28" height="28" /></td>
        <td width="28" class="frontbox-bottom-$page.get('color')"></td>
        <td width="28" style="background-transparent"><img src="/static/images/box/right.bottom.curve.${page.get('color')}.png" border="0" width="28" height="28" /></td>
        </tr></table>
        <!-- /main -->
    <div id="footer\
    $if not page.get('front'):-leaf\
    ">
	<div id="left_footer">What do you think? <a href="/about/feedback"><strong>Send us your feedback.</strong></a></div>
    <div style="text-align: right; margin-top: -4px; width: 100%;"><img src="/static/images/${page.get('color')}.talkbubble.png" width="103" height="135" alt="Talk Bubble" /><a href="/" class="logo"><img src="/static/images/watchdog.talk.gif" width="255" height="135" alt="Watchdog sez -" /></a></div>
</div></div><!-- /footer -->
</div>
</body>
</html>
