$def with (bills, limit)

$var width: 90%
$var color: white

$var title: Bills

$for b in bills:
    <p><a href="/b/$b.id">$b.id</a>: $b.title</p>

$ page = int(query_param("page", 0))

$if page != 0:
    &lt;&lt;<a href="$changequery(page=page - 1)">Prev</a>

$if len(bills) == limit:
     | <a href="$changequery(page=page + 1)">Next</a> &gt;&gt;

<p><strong>Developers:</strong> Get this page in <a href="index.n3?page=$page">N3</a>, <a href="index.xml?page=$page">XML</a>, or <a href="index.json?page=$page">JSON</a>.</p>
