$def with (candidates, committees, zip, name)

$var width: 90%
$var color: white

$ name = format_name(name)

$var title: $name

<h1>$name.title(), $zip</h1>

<h2>Candidates</h2>

  <style>
  .subtitle { color: #777;}
  .paying td { padding-top: .4em; padding-bottom: .4em;}
  td.payout { text-align: right; padding-right: .4em;}
  td.paying { padding-left: .4em !important; padding-right: 8em;}
  td.date { padding-top: 1em; }
  h2 { margin-bottom: 0.3em;}
  h1 .header_em { color: black; color:#002233; }
  </style>
  
<table style="width: 100%; margin-top: 0em; margin-bottom: 2em;" class="paying structure">
$ prev_occupation = None
$ prev_employer = None
$for c in candidates:
    $if c.occupation.title() != prev_occupation or c.employer.title() != prev_employer:
        <tr style="border-bottom: 1px solid #999;">
            <td colspan="2" class="date"><strong>$name.title()</strong>$((c.occupation or c.employer_stem ) and ',' or '')
            $if c.occupation:
                <span class="subtitle">
                    <a href="/occupation/$urlquote(c.occupation)">$c.occupation.title()</a>$(c.employer_stem and ',' or '')
                  </span>
            $if c.employer_stem:
                <span class="subtitle"><a href="/empl/$urlquote(c.employer_stem)">$c.employer.title()</a></span>
            </td>
        </tr>
    <tr class="even">
        <td class="paying">
            <strong>\$$commify(int(c.how_much))</strong> to 
            <a href="/p/$c.polid">$c.firstname $c.lastname</a>$(c.committee and ', '+c.committee.title() or '')
            on <strong>$datestr(c.sent)</strong>
        </td>
    </tr>
    $ prev_occupation = c.occupation.title()
    $ prev_employer = c.employer_stem.title()
</table>

<h2>Committees</h2>

<table style="width: 100%; margin-top: 0em; margin-bottom: 2em;" class="paying structure">
$ prev_occupation = None
$ prev_employer = None
$for c in committees:
    $if c.occupation.title() != prev_occupation or c.employer_stem.title() != prev_employer:
        <tr style="border-bottom: 1px solid #999;">
            <td colspan="2" class="date"><strong>$name.title()</strong>$((c.occupation or c.employer_stem ) and ',' or '')
            $if c.occupation:
                <span class="subtitle">
                    <a href="/occupation/$urlquote(c.occupation)">$c.occupation.title()</a>$(c.employer_stem and ',' or '')
                  </span>
            $if c.employer_stem:
                <span class="subtitle"><a href="/empl/$urlquote(c.employer_stem)">$c.employer.title()</a></span>
            </td>
        </tr>
    <tr class="even">
        <td class="paying">
            <strong>\$$commify(int(c.how_much))</strong> to $c.name.title()
            on <strong>$datestr(c.sent)</strong>
        </td>
    </tr>
    $ prev_occupation = c.occupation.title()
    $ prev_employer = c.employer_stem.title()    
</table>
