$def with (d)

$var title: $d.name

$var head:
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA32O3YO3sztAoMSWYheUtTBSegq5R6PzMwDs-zkkX85humBXq5hS9YYxLy9IHkdELejDmCS8ZjzjU2Q" type="text/javascript"></script>
    <script src="http://govtrack.us/scripts/gmap-wms.js"></script>
	  <script src="/static/distmap.js"></script>

<p><strong>Cook Partisan Voting Index (PVI):</strong> $d.cook_index<br />
  <strong>Area:</strong> $d.area_sqmi sq. mi.
</p>

<p><strong>Sources:</strong> District information from <cite>The Almanac of American Politics 2008</cite> (from <a href="http://nationaljournal.com/pubs/almanac/2008/">NationalJournal.com</a>).</p>
