$def with (d)

$var title: $d.name: $d.state.name’s $d.districtth

$var head:
    <link rel="alternate" href="${d.name}.xml" type="application/rdf+xml" />
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA32O3YO3sztAoMSWYheUtTBQYu38vSyEOJo4J0P8Mwlrd5U_lzhQ2ZoxaOYKY-qh7R36VeBWvCtHU5g" type="text/javascript"></script>
    <script src="http://www.govtrack.us/scripts/gmap-wms.js"></script>
    <script src="/static/js/distmap.js"></script>
    
    <script type="text/javascript">
    distcenter('googlemap',
               '$d.name.replace('-0', '').replace('-', '')',
               [$d.center_lat, $d.center_lng, $d.zoom_level - 1],
               'mapinfo')
    </script>
    <style>
    #main { width: 100%;}
    .bigmap { width: 100%; height: 800px; margin-bottom: 2em; background-color: rgb(229, 227, 223);}
    </style>

$var sidebar: None
$var maxi: True

<div id="googlemap" class="bigmap">
</div>

<div id="mapinfo">
<h2>$d.state.name’s $d.districtth congressional district.</h2>

$if d.politician[0].id and d.politician[0].firstname:
    $if d.politician[0].photo_path:
        <a href="/p/$d.politician[0].id"><img src="$d.politician[0].photo_path" 
          alt="Headshot" class="smallheadshot" /></a>
    
    <p>Represented by <a href="/p/$d.politician[0].id">$d.politician[0].name</a>.<br />
$else:
    <p>

<a href="/us/${d.state.code.lower()}">More about $d.state.name...</a>
</p>

<table class="charted" style="clear: both">
$if d.cook_index:
    <tr>
      <th>Cook <acronym title="Partisan Voting Index">PVI</acronym>:</th>
      <td>$d.cook_index</td>
      <td></td>
    </tr>
  <tr>
    <th>Area:</th>
    <td>$commify(d.area_sqmi) sq. mi.</td>
    <td><a href="/us/by/area_sqmi#d$d.name"
         ><img src="/us/by/area_sqmi/distribution.png?point=$d.area_sqmi"
               class="sparkline" /></a></td>
  </tr><tr>
    <th>Population:</th>
    <td>$commify(d.est_population) ($d.est_population_year est.)</td>
    <td><a href="/us/by/est_population#d$d.name"
         ><img 
           src="/us/by/est_population/distribution.png?point=$d.est_population"
           class="sparkline" /></a></td>
  </tr><tr>
    <th>Poverty rate:</th>
    <td>$d.poverty_pct%</td>
    <td><a href="/us/by/poverty_pct#d$d.name"
         ><img src="/us/by/poverty_pct/distribution.png?point=$d.poverty_pct"
               class="sparkline" /></a></td>
  </tr><tr>
    <th>Median household income:</th>
    <td>\$$commify(d.median_income)</td>
    <td><a href="/us/by/median_income#d$d.name"
         ><img src="/us/by/median_income/distribution.png?point=$d.median_income"
               class="sparkline" /></a></td>
  </tr>
</table>
</div>

<div class="sources">
  District information from 
  <cite><a href="$d.almanac">The Almanac of American Politics 2008</a></cite>. 
  Maps from the 
  <a href="http://www.census.gov/geo/www/cob/cd110.html">US Census Bureau</a>
  and
  <a href="http://www.govtrack.us/congress/findyourreps.xpd?state=$d.state&amp;district=$d.district"
  >GovTrack</a>.
</div>

<p><strong>Developers:</strong> Get this page in <a href="${d.name.lower()}.n3">N3</a>, <a href="${d.name.lower()}.xml">XML</a>, or <a href="${d.name.lower()}.json">JSON</a>.</p>
