$def with (d, pos)

$var width: 90%
$var color: white

$var title: $d.name: $d.state.name’s $d.districtth

$var head:
    <link rel="alternate" href="${d.name}.xml" type="application/rdf+xml" />
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA32O3YO3sztAoMSWYheUtTBQYu38vSyEOJo4J0P8Mwlrd5U_lzhQ2ZoxaOYKY-qh7R36VeBWvCtHU5g" type="text/javascript"></script>
    <script src="/static/js/gmap-wms.js"></script>
    <script src="/static/js/distmap.js"></script>
    
    <script type="text/javascript">
    distcenter('googlemap',
               '$d.name.replace('-0', '').replace('-', '')',
               [$d.center_lat, $d.center_lng, $d.zoom_level - 1],
               'mapinfo')
    </script>
    <style>
    #main { width: 100%;}
    .bigmap { width: 100%; height: 800px; margin-bottom: 2em; background-color: rgb(229, 227, 223);}
    </style>

$var sidebar: None
$var maxi: True

<h1 style="padding-top: 0px; margin-top: 0px">$d.state.name’s $d.districtth congressional district</h1>

<div id="googlemap" class="bigmap">
</div>

<div id="mapinfo">
$if d.politician and d.politician[0].id and d.politician[0].firstname:
    $if d.politician[0].photo_path:
        <div style="float: left; padding-right: 12px; padding-bottom: 12px;"><a href="/p/$d.politician[0].id"><img src="http://watchdog.net$d.politician[0].photo_path" 
          width="5em" style="margin: 0em; padding: 5px; border: 1px solid #666;" alt="Headshot" class="smallheadshot" /></a></div>
    
    <div class="subhead-blue">Represented by <a href="/p/$d.politician[0].id">$d.politician[0].name</a>.</div>
$else:
    <br /><br />


$def spark(lable, data, polid, by, unit='', url=None):
    <th style="white-space:nowrap">$:lable</th>
	$if not data: 
		$ data = 0
    $ display = commify(data) + ' ' + unit
    $if unit == '$':
        $ display = unit + commify(int(data))
    $elif unit and unit[0] == '%':
        $ display = '%3.1f' % data + unit
    $if url:
        <td class="sparkdata"><a href="$url">$display</a></td>
    $else:
        <td class="sparkdata" style="width: 100%">$display</td>
    <td class="sparkline"><a href="/p/by/$by#$polid"
           ><img src="/us/by/$by/distribution.png?point=$data"
                 class="sparkline" /></a></td>
    <td class="sparknum"><sup>(#${pos('district',by,polid)})</sup></td>


<a href="/us/${d.state.code.lower()}">More about $d.state.name...</a>
<br clear="both" />
<table class="charted" cellpadding="0" cellspacing="0" border="0"><tbody>
$if d.cook_index:
    <tr class="even">
      <th>Cook <acronym title="Partisan Voting Index">PVI</acronym>:</th>
      <td class="sparkdata">$d.cook_index</td>
      <td class="sparkline"></td>
      <td class="sparknum"></td>
    </tr>
  <tr class="odd">
      $:spark('Area:', d.area_sqmi, d.name, 'area_sqmi', ' sq. mi.')
  </tr><tr class="even">
      $:spark('Population:', d.est_population, d.name, 'est_population', '(%d est.)' % d.est_population_year)
  </tr><tr class="odd">
      $:spark('Poverty rate:', d.poverty_pct, d.name, 'poverty_pct', '%')
  </tr><tr class="even">
      $:spark('Median household income:', d.median_income, d.name, 'median_income', '$')
  </tr>
  </tr><tr class="odd">
      $:spark('Earmarks received per capita:', d.earmark_per_capita, d.name, 'earmark_per_capita', '$')
  </tr>
</tbody></table>
</div>

<div class="sources">
  District information from 
  <cite><a href="$d.almanac" class="external">The Almanac of American Politics 2008</a></cite>. 
  Maps from the <a href="http://www.census.gov/geo/www/cob/cd110.html" class="external">US Census Bureau</a>
  and <a href="http://www.govtrack.us/congress/findyourreps.xpd?state=$d.state&amp;district=$d.district" class="external">GovTrack</a>.
</div>

<p><strong>Developers:</strong> Get this page in <a href="${d.name.lower()}.n3">N3</a>, <a href="${d.name.lower()}.xml">XML</a>, or <a href="${d.name.lower()}.json">JSON</a>.</p>
