$def with (contributions, corp_id, total_num)

$var width: 90%
$var color: white

$var title: $corp_id.title()

<script type="text/javascript" src="/static/js/fec.js"></script>

<h1>$corp_id.title()</h1>

  <style>
  .subtitle { color: #777;}
  table.donors th, table.donors td { font-weight: normal; padding: 0.3em 1em;}
  table.donors td { text-align: right;}
  </style>

<table class="charted structure donors" style="width: 100%; margin-top: 0em; margin-bottom: 2em;">
$ trclass = "odd"
$for c in contributions:
    <tr class="$trclass">
        <th class="paying">
            <strong>\$$commify(int(round(c.how_much)))</strong> from
            <strong>$c.how_many</strong> $corp_id.title() employees 
            (<strong>$round(float(c.how_many*100)/total_num, 1)%</strong>)
            to <a href="/p/$c.polid">$c.firstname $c.lastname</a>
        </td> 
        <td style="text-align: right;"><!--
            <a id="view_details1" href="#" onclick="return view_details(1);">view details</a>
            <a id="hide_details1" style="display: none;" href="#" onclick="return hide_details(1);">hide details</a>-->
        </td>
    </tr>
    $if trclass == "odd":
        $ trclass = "even"
    $else:
        $ trclass = "odd"
</table>
