$def with (committee, dollars)

$var width: 90%
$var color: white

$var title: FEC contributions to $committee.name

<h1>FEC contributions to <a href="../${committee.fec_id}.html"
>$committee.name</a ></h1>

<table>
    <tr>
        <th>contributor name</th>
        <th>date</th>
        <th>employer</th>
        <th>amount</th>
    </tr>
$for contribution in committee.contributions:
    <tr>
        <td>$contribution.contributor</td>
        <td>$contribution.contrib_date</td>
        <td>$contribution.employer</td>
        <td>$dollars(contribution.amount)</td>
    </tr>
</table>

<p><strong>Developers:</strong> Get this page in <a href="${committee.fec_id}.n3">N3</a>, <a href="${committee.fec_id}.xml">XML</a>, or <a href="${committee.fec_id}.json">JSON</a>.</p>
