$def with (data, dollars)

$var width: 90%
$var color: white

$var title: Federal Election Commission committees

<h1>Federal Election Commission committees</h1>

<table>
    <tr>
        <th></th>
        <th>contributions</th>
        <th>total</th>
    </tr>
$for committee in data.committees:
    <tr>
        <td><a href="${committee.fec_id}.html">$committee.name</a></td>
        <td>$committee.number_of_contributions</td>
        <td>$dollars(committee.contribution_total)</td>
    </tr>
</table>

<p><strong>Developers:</strong> Get this page in <a href="index.n3">N3</a>, <a href="index.xml">XML</a>, or <a href="index.json">JSON</a>.</p>
