$def with ()

$var width: 782px
$var color: blue
$var title: Feedback
$var feedback_class: select

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr><td class="infochart">

<h1>Talk to us.</h1>

<div class="answer">
<p>You can always email us
at <a href="mailto:info@watchdog.net">info@watchdog.net</a> – we'd
love to hear from you. Or you can drop us a note with the form below:</p>

<form method="post" action="/about/feedback">
<strong>email:</strong> <input type="text" class="white" name="email" size="35" />
(just so we can reply)<br />
<textarea rows="10" cols="72" name="content">
</textarea>
<p><button type="submit">Send your feedback...</button></p>
</form></div>

</td></tr></table>



