$def with (zip, districts)

$var width: 90%
$var color: white

$var title: Multiple districts

<h1>Multiple districts</h1>

<p>It looks like the zip code <strong>$zip</strong> crosses multiple districts. If you know your district, you can select it:</p>

<ul>
$for d in districts:
    <li><a href="/us/$d.name.lower()">$d.name</a> (Rep. $d.politician[0].name)</li>
</ul>

<form method="GET" action="/us/">
  <input type="hidden" name="zip" value="$zip" />
  
  <p>Otherwise, enter your address and we'll try to locate you:</p>
  <p><input type="text" name="address" /> <button type="submit">Go</button></p>
</form>