$var front: True
$var width: 400px
$var color: blue
$var title: the good government site with teeth


<form action="/us/" method="get">
      <h1>Get information...</h1>
      
      <p>
        <strong>Name or ZIP:</strong>
        <input type="text" class="white" name="q" />
        <button type="submit" />Search</button>
      </p>
      
      <p class="explain">
        <em>Districts:</em> 
        Enter a zip code, 
        like <a href="/us/?zip=90210">90210</a> 
        or <a href="/us/?zip=02138">02138</a><br />
        
        <em>Politicians:</em> 
        Enter a name, 
        like <a href="/p/nancy_pelosi">Pelosi</a> 
        or <a href="/p/ron_paul">Ron Paul</a>
      </p>
      
      <h1>Take action...</h1>
      
      <p><a href="/c/">Sign a petition</a> • <a href="/c/new">Start a petition</a> • <a href="/writerep/">Write your rep.</a></p>
      
</form>

