$var title: 

<div class="intro">
<p>
  <strong>watchdog.net</strong> lets you find out what's going on in politics<br />
  and make your voice heard about it.</p>
</p>

<form action="/us/" method="GET" style="background-color: #d7d7d7; padding: .05em; margin: auto; width: 70%; ">
<h2>Find your district</h2>
<p><strong>Zip code:</strong> <input type="text" name="zip" /> <input type="submit" value="Go" /></p>
<p class="explain"><em>Examples:</em> <a href="/us/?zip=90210">90210</a>, <a href="/us/?zip=02138">02138</a> (<a href="/us/">full list</a>)</p>
</form>
</div>
