$def with (people, limit)

$var width: 90%
$var color: white

$var title: Lobbyist

<style>
.header { background-color: #fff; font-weight: bold; border-bottom: 1px solid #999;  border-top: 1px solid #999; }
</style>

<h1>Lobbyist</h1>

<table class="structure" width=100%>
<tr>
<td class="header">Name</td>
<td class="header">Filings</td>
</tr>
	<td>
$def fixcase(n):
	$n[0].upper()$n[1::].lower()
$for p in people:
	$if p.prefix: $p.prefix
	$if p.firstname: $fixcase(p.firstname)
	$if p.middlename: $fixcase(p.middlename)
	$if p.lastname: $fixcase(p.lastname)
	$if p.suffix: $p.suffix: $fixcase(p.suffix)
	$if p.contact_name: $fixcase(p.contact_name)
	</td>
	<td>
		$for f in p.filings:
			<a href="/lob/f/$f.id">$f.id</a><br>
	</td>
	</tr>
</tr>
</table>

$ page = int(query_param("page", 0))

<br />

$if page != 0:
    <span style="color: #EE4400">&larr;&nbsp;<a href="$changequery(page=page - 1)" class="more">Prev</a></span>&nbsp;&nbsp;&nbsp;

    <span style="color: #EE4400">&larr;&nbsp;<a href="/lob/f//" class="more">Browse Filings Index</a></span>&nbsp;&nbsp;&nbsp;

$if len(people) == limit:
     <span style="color: #EE4400"><a href="$changequery(page=page + 1)" class="more">Next</a>&nbsp;&rarr;</span>

