$def with (contributions, limit)

$var width: 90%
$var color: white

$var title: Lobbyist Contributions

<style>
.header { background-color: #fff; font-weight: bold; border-bottom: 1px solid #999;  border-top: 1px solid #999; }
</style>

<h1>Lobbyist Contributions</h1>

<table class="structure" width=100%>
<tr>
<td class="header">Amount</td>
<td class="header">Date</td>
<td class="header">Type</td>
<td class="header">Payee</td>
<td class="header">Contributor</td>
<td class="header">Recipient</td>
<td class="header">Filing ID</td>
</tr>

$for i, c in enumerate(contributions):
	<tr class="${'odd' if i%2 else 'even'}">
	<td>\$$commify(c.amount)</td>
	<td>$c.date</td>
	<td>$c.type</td>
	<td>$c.payee</td>
	<td>$c.contributor</td>
	<td>
	$if c.politician_id:
		<a href=/p/$c.politician_id>$c.recipient</a>
	$else:
		$c.recipient
	</td>
	<td><a href="/lob/f/$c.filing_id">$c.filing_id</a></td>
	</tr>
</table>

$ page = int(query_param("page", 0))

<br />

$if page != 0:
    <span style="color: #EE4400">&larr;&nbsp;<a href="$changequery(page=page - 1)" class="more">Prev</a></span>&nbsp;&nbsp;&nbsp;

    <span style="color: #EE4400">&larr;&nbsp;<a href="/lob/f/" class="more">Browse Filings Index</a></span>&nbsp;&nbsp;&nbsp;

$if len(contributions) == limit:
     <span style="color: #EE4400"><a href="$changequery(page=page + 1)" class="more">Next</a>&nbsp;&rarr;</span>

