$def with (orgs, limit)

$var width: 90%
$var color: white

$var title: Lobbyist Organizations

<style>
.header { background-color: #fff; font-weight: bold; border-bottom: 1px solid #999;  border-top: 1px solid #999; }
</style>

<h1>Lobbyist Organizations</h1>

$def fixcase(n):
	$n[0].upper()$n[1::].lower()
	
<table class="structure" width=100%>
<tr>
	<td class="header">Name</td>
	<td class="header">Filings</td>
</tr>
$for i, o in enumerate(orgs):
	<tr class="${'odd' if i%2 else 'even'}">
	$if o.name: <td>$fixcase(o.name)</td>
	<td>
		$for f in o.filings:
			<a href="/lob/f/$f.id">$f.id</a><br>
	</td>
	</tr>
</tr>
</table>

$ page = int(query_param("page", 0))

<br />

$if page != 0:
    <span style="color: #EE4400">&larr;&nbsp;<a href="$changequery(page=page - 1)" class="more">Prev</a></span>&nbsp;&nbsp;&nbsp;

    <span style="color: #EE4400">&larr;&nbsp;<a href="/l/f/" class="more">Browse Filings Index</a></span>&nbsp;&nbsp;&nbsp;

$if len(orgs) == limit:
     <span style="color: #EE4400"><a href="$changequery(page=page + 1)" class="more">Next</a>&nbsp;&rarr;</span>

