$def with (loginform, signupform, msg=None, redirect="")

$var width: 782px
$var color: white
$var title: Log in or sign up
$var login_class: select

$if msg:
    $var msg: $:msg

<style>
    #text h2 { margin-bottom: 30px; }
    #text fieldset td { padding: 0; }
</style>    


<h1 style="text-align: center">Please log in to Watchdog.net</h1>

$if not cookies_on(): <p style="text-align: center"><b>Please turn on cookies for login to work. You can enable them via your browser's preference settings.</b></p>

$if not loginform.valid:
    $if loginform.note: <p class="error">$loginform.note</p>
    $else: <p class="error">Please try again after fixing the problems highlighted below:</p>
$elif not signupform.valid:
    $if signupform.note: <p class="error">$signupform.note</p>
    $else: <p class="error">Please try again after fixing the problems highlighted below:</p>

<table cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
<td class="login">
    <form name="login" method="POST" action="/u/login">
        $:signupform.redirect.render()
        $:loginform.state.render()
        <fieldset>
        <legend>Log in to your account</legend>
        <label>Enter your email</label>
        $:loginform.useremail.render()
        <label>And your password</label>
        $:loginform.password.render()
        <div><button type="submit" style="margin-top: 20px;">Log in</button></div>
        <p><a href='/u/forgot_password'>Forgot your password?</a></p>
        </fieldset>
    </form>
</td>
<td class="signup">
    <form name="signup" method="POST" action="/u/signup">
        $:signupform.redirect.render()
        $:signupform.state.render()
        <fieldset>
        <legend>... or sign up to create one</legend>
        <label>Enter your email</label>
        $:signupform.email.render()
        <label>Give it a password</label>
        $:signupform.password.render()
        <label>Type the password again</label>
        $:signupform.password_again.render()
        <div><button type="submit" style="margin-top: 20px;">Sign up</button></div>
        </fieldset>
    </form>
</td>
</tr>
</table>
