$def with (pform, cform, title="Create a new petition", target="/c/new", msg=None)

$var width: 90%
$var color: white

$var title: $title

$if msg:
    $var msg: $:msg

<script type="text/javascript" src="/static/js/petition.js"></script>
<script type="text/javascript" src="/static/js/wyr.js"></script>

<style>
#text fieldset #addr1 { width: 205px; }
#text fieldset #addr2, #phone { width: 140px;}
fieldset label {margin: 1em 0pt 0pt 0pt;}
table label {margin: 0.5em 0pt 0pt 0pt;}
fieldset #tocongresscheck { background-color: #ffc; width: 16.8em; }
fieldset #tocongresscheck input, fieldset #tocongresscheck label { display: inline; }
fieldset #pid { margin-right: 0.3em; font-size: 0.9em; width: 130px; }
</style>

$if target == '/c/new':
    <h1>Create a new petition</h1>
$else:
    <h1>Edit <a href='/c/$pform.pid.value'>$pform.ptitle.value</a></h1>

<form name="petition" method="POST" action="$target"> 
	$:pform.userid.render()
    $if not pform.valid: <p class="error">Please try again after fixing the problems highlighted below:</p>

<fieldset id="petition">
    $if title == 'Edit your petition': <legend>Title and description</legend>
    $else: <legend>Please fill out the following fields</legend>
    <label for="ptitle">Name your petition</label>
    $:pform.ptitle.render()
    
    <label>Your petition site address</label>
    $if target == '/c/new':
   	  <strong>http://watchdog.net/c/</strong> $:pform.pid.render() <span id="note_pid"></span>
   	  <span>(Letters, numbers and dashes only.)</span>
    $else:
   	    <p><strong>http://watchdog.net/c/$:pform.pid.value</strong></p>
    
    <label for="msg">Give it a description</label>
    $:pform.msg.render()

    <label for="tocongresscheck">Everytime someone signs your petition, we'll send it to their Representative.</label>
    <span id="tocongresscheck">
        $:pform.tocongress.render() 
        <label for="tocongress"><strong>Make this is a petition to Congress</strong></label>
    </span>

    <div id="tocongressform" style="display: none;">
    <h3>We'll need some more information then...</h3>
	$if (not cform.valid) and (cform.note): <p class="error">$cform.note</p>

    <table><tr>
        <td><label for='prefix'>Prefix</label>$:cform.prefix.render()</td>
        <td><label for='fname'>First name</label>$:cform.fname.render()</td>
        <td><label for='lname'>Last name</label>$:cform.lname.render()</td>
    </tr></table>
    <table><tr>
        <td><label for='addr1'>Address</label>$:cform.addr1.render()</td>
        <td><label for='addr2'>&nbsp;</label>$:cform.addr2.render()</td>
    </tr></table>
    <table><tr>
        <td><label for='city'>City</label>$:cform.city.render()</td>
        <td><label for='state'>State</label>$:cform.state.render()</td>
        <td><label for='zipcode'>Zip code</label>$:cform.zipcode.render()-$:cform.zip4.render()</td><span id="note_zipcode"></span>        
    </tr></table>
    <table><tr>
        <td><label for='phone'>Phone</label>$:cform.phone.render()</td>
    $if cform.captcha.pre:
        $:cform.signid.render()
        <td><label for='captcha'>Validation</label>$:cform.captcha.pre $:cform.captcha.render()</td>
    </tr></table>
    </div>
</fieldset>

$if target == '/c/new':
    <button type="submit" style="font-size: 1.2em">Create my petition</button>
$else:
    <button type="submit" style="font-size: 1.2em">Save my petition</button>
</form>
