$def with (loginform, signupform, petitionform, wyrform, msg=None, redirect="")

$var width: 90%
$var color: white

$var title: Log in or sign up
$var login_class: select

$if msg:
    $var msg: $:msg

$if not loginform.valid:
    $if loginform.note: <p class="error">$loginform.note</p>
    $else: <p class="error">Please try again after fixing the problems highlighted below:</p>
$elif not signupform.valid:
    $if signupform.note: <p class="error">$signupform.note</p>
    $else: <p class="error">Please try again after fixing the problems highlighted below:</p>


<style>
#text h2 { margin-bottom: 30px; }
#text fieldset td { padding: 0; }
.signup { padding-right: 2em; border-right: 1px solid #ccc; }
.login { padding-left: 2em; }

</style>


<h2>You just need an account now...</h2>

$if not cookies_on(): <p class="error">Please turn on cookies for login to work. You can enable them via your browser's preference settings.</p>

<table>
<tr>
<td class="signup">
    <form name="signup" method="POST" action="signup">
        <div style="display: none">
            $:petitionform.ptitle.render()
            $:petitionform.pid.render()
            $:petitionform.msg.render()
            $:petitionform.tocongress.render()
            $:wyrform.prefix.render()
            $:wyrform.fname.render()
            $:wyrform.lname.render()
            $:wyrform.addr1.render()
            $:wyrform.addr2.render()
            $:wyrform.city.render()
            $:wyrform.zipcode.render()
            $:wyrform.zip4.render()
            $:wyrform.phone.render()
        </div>
        $:signupform.redirect.render()
        <fieldset>
        <legend>Sign up to create one</legend>
        <label>Enter your email</label>
        $:signupform.email.render()
        <label>Give it a password</label>
        $:signupform.password.render()
        <label>Type the password again</label>
        $:signupform.password_again.render()
        <div><button type="submit">Sign up</button></div>
        </fieldset>
    </form>
</td>
<td class="login">
    <form name="login" method="POST" action="login">
        <div style="display: none">
            $:petitionform.ptitle.render()
            $:petitionform.pid.render()
            $:petitionform.msg.render()
            $:petitionform.tocongress.render()
            $:wyrform.prefix.render()
            $:wyrform.fname.render()
            $:wyrform.lname.render()
            $:wyrform.addr1.render()
            $:wyrform.addr2.render()
            $:wyrform.city.render()
            $:wyrform.zipcode.render()
            $:wyrform.zip4.render()
            $:wyrform.phone.render()
        </div>
        $:signupform.redirect.render()
        <fieldset>
        <legend>... or log in to your account</legend>
        <label>Enter your email</label>
        $:loginform.useremail.render()
        <label>And your password</label>
        $:loginform.password.render()
        <div><button type="submit">Log in</button></div>
        <p><a href='/u/forgot_password'>Forgot your password?</a></p>
        </fieldset>
    </form>
</td>
</tr>
</table>
