$def with (pol, contribs)

$var width: 90%
$var color: white

$var title: Contributor employers

<style>
.header { background-color: #fff; font-weight: bold; border-bottom: 1px solid #999;  border-top: 1px solid #999; }
</style>

<p><a href="/p/$pol.id">&laquo; Back to $pol.name</a></p>

<h1>Contributor employers</h1>

<table class="structure" width="100%">
<tr><td class="header">Employer</td><td class="header">Amount</td></tr>
$ trclass = "odd"

$for c in contribs:
    $if trclass == "odd":
        $ trclass = "even"
    $else:
        $ trclass = "odd"
    <tr class="$loop.parity">
        <td>$loop.index <a href="/empl/$c.employer">$c.employer.title()</a></td>
        <td>\$$commify(int(c.amt) )</td>
    </tr>   
</table>

<p><a href="/p/$pol.id">&laquo; Back to $pol.name</a></p>

<div class="sources">
  Money data from the <a href="http://www.fec.gov/">FEC</a>.
</div>
