$def with (pol)

$var head:
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA32O3YO3sztAoMSWYheUtTBQYu38vSyEOJo4J0P8Mwlrd5U_lzhQ2ZoxaOYKY-qh7R36VeBWvCtHU5g" type="text/javascript"></script>
    <script src="http://www.govtrack.us/scripts/gmap-wms.js"></script>
	  <script src="/static/js/distmap.js"></script>
	  <script type="text/javascript">distcenter('googlemap', '$pol.district.name.replace('-0', '').replace('-', '')', [$pol.district.center_lat, $pol.district.center_lng, $pol.district.zoom_level - 2])</script>

$var title: $pol.firstname $pol.middlename $pol.lastname

$var sidebar: None

$var pretext:
    <div id="sidebarmap" style="clear: right;">
      <div id="googlemap" class="sidemap"></div>
      <!--<input type="text" name="zip" class="zipcode" value="Enter your zip" />-->
    </div>
    
<div class="rep-info">
$if pol.photo_path:
    <a href="$pol.photo_path"><img src="$pol.photo_path" alt="Headshot" class="headshot" /></a>

<h2>$pol.firstname $pol.middlename $pol.lastname</h2>

<p>
  $if pol.nickname: known as "$pol.nickname"<br />
  $if pol.birthday:
      b. $pol.birthday\
      $if pol.birthplace: , $pol.birthplace\
      <br />
  represents <a href="/us/$pol.district.name">$pol.district.name</a><br />
  $pol.party, $pol.religion<br />
  <a href="$pol.officeurl">Official website</a>
</p>

$if pol.education:
    <p>Education: $pol.education</p>

</div>
<table class="structure">
<tr><td width="50%">
<h2 class="rep">Money</h2>

<table class="structure charted">
$if pol.money_raised:
    <tr class="even">
      <th>Raised</th>
      <td>\$$commify(pol.money_raised)</a></td>
      <td><a href="/p/by/money_raised#$pol.id"
           ><img src="/p/by/money_raised/distribution.png?point=$pol.money_raised"
                 class="sparkline" /></a></td>
    </tr><tr class="odd">
      <th>Spent</th>
      <td>${int(pol.pct_spent * 100)}%</td>
      <td><a href="/p/by/pct_spent#$pol.id"
           ><img 
             src="/p/by/pct_spent/distribution.png?point=$pol.pct_spent"
             class="sparkline" /></a></td>
    
    </tr><tr class="even">
      <th>From self</th>
      <td>${int(pol.pct_self * 100)}%</td>
      <td><a href="/p/by/pct_self#$pol.id"
           ><img 
             src="/p/by/pct_self/distribution.png?point=$pol.pct_self"
             class="sparkline" /></a></td>
    </tr><tr class="odd">
      <th>From individuals</th>
      <td>${int(pol.pct_indiv * 100)}%</td>
      <td><a href="/p/by/pct_indiv#$pol.id"
           ><img 
             src="/p/by/pct_indiv/distribution.png?point=$pol.pct_indiv"
             class="sparkline" /></a></td>
    </tr><tr class="even">
      <th>From <acronym title="Political Action Committees">PAC</acronym>s</th>
      <td>${int(pol.pct_pac * 100)}%</td>
      <td><a href="/p/by/pct_pac#$pol.id"
           ><img 
             src="/p/by/pct_pac/distribution.png?point=$pol.pct_pac"
             class="sparkline" /></a></td>
    </tr>
$else:
    <tr><th>No information available.</th></tr>
</table>
</td><td class="width: 50%">
<h2 class="rep">Earmarks</h2>

<table class="charted structure">
  <tr class="even">
    <th>Requested</th>
    <td>$commify(pol.n_earmark_requested)</td>
    <td><a href="/p/by/n_earmark_requested#$pol.id"
         ><img 
           src="/p/by/n_earmark_requested/distribution.png?point=$pol.n_earmark_requested"
           class="sparkline" /></a></td>
  </tr><tr class="odd">
    <th>Total cost</th>
    <td>\$$commify(pol.amt_earmark_requested)</td>
    <td><a href="/p/by/amt_earmark_requested#$pol.id"
        ><img 
            src="/p/by/amt_earmark_requested/distribution.png?point=$pol.amt_earmark_requested"
            class="sparkline" /></a></td>
  </tr><tr class="even">
    <th>Received</th>
    <td>$commify(pol.n_earmark_received)</td>
    <td><a href="/p/by/n_earmark_received#$pol.id"
         ><img 
           src="/p/by/n_earmark_received/distribution.png?point=$pol.n_earmark_received"
           class="sparkline" /></a></td>
  </tr><tr class="odd">
    <th>Total cost</th>
    <td>\$$commify(pol.amt_earmark_received)</td>
    <td><a href="/p/by/amt_earmark_received#$pol.id"
         ><img 
           src="/p/by/amt_earmark_received/distribution.png?point=$pol.amt_earmark_received"
           class="sparkline" /></a></td>
  </tr>
  <tr><th colspan="2">Data for fiscal year 2008</th></tr>
</table>
</td></tr><tr><td width="50%" class="rule">
<h2 class="rep">Bills</h2>

<table class="charted structure">
  <tr class="even">
    <th>Co-sponsored</th>
    <td>$commify(pol.n_bills_cosponsored)</td>
    <td><a href="/p/by/n_bills_cosponsored#$pol.id"
         ><img 
           src="/p/by/n_bills_cosponsored/distribution.png?point=$pol.n_bills_cosponsored"
           class="sparkline" /></a></td>
  </tr>
  <tr class="odd">
    <th>Introduced</th>
    <td><a href="/p/$pol.id/introduced">$commify(pol.n_bills_introduced)</a></td>
    <td><a href="/p/by/n_bills_introduced#$pol.id"
         ><img 
           src="/p/by/n_bills_introduced/distribution.png?point=$pol.n_bills_introduced"
           class="sparkline" /></a></td>
  </tr>
  <tr class="even">
    <th>Debated</th>
    <td>$commify(pol.n_bills_debated)</td>
    <td><a href="/p/by/n_bills_debated#$pol.id"
         ><img 
           src="/p/by/n_bills_debated/distribution.png?point=$pol.n_bills_debated"
           class="sparkline" /></a></td>
  </tr>
  <tr class="odd">
    <th>Enacted</th>
    <td>$commify(pol.n_bills_enacted)</td>
    <td><a href="/p/by/n_bills_enacted#$pol.id"
         ><img 
           src="/p/by/n_bills_enacted/distribution.png?point=$pol.n_bills_enacted"
           class="sparkline" /></a></td>
  </tr>
</table>
</td><td width="50%" class="rule">
<h2 class="rep">Speeches</h2>

<table class="charted structure">
  <tr class="even">
    <th>Spoke</th>
    <td><a href="http://www.govtrack.us/congress/person.xpd?tab=speeches&amp;id=$pol.govtrackid">$commify(pol.n_speeches) times</a></td>
    <td><a href="/p/by/n_speeches#$pol.id"
         ><img src="/p/by/n_speeches/distribution.png?point=$pol.n_speeches"
               class="sparkline" /></a></td>
  </tr><tr class="odd">
    <th>Avg. length</th>
    <td>$commify(pol.words_per_speech) words</td>
    <td><a href="/p/by/words_per_speech#$pol.id"
         ><img 
           src="/p/by/words_per_speech/distribution.png?point=$pol.words_per_speech"
           class="sparkline" /></a></td>
  </tr>
  <tr><th colspan="2">Data for 110th Congress</th></tr>
</table>
</td></tr></table>
<h2 class="rep">Voting Analysis</h2>

<table class="charted structure">
$if pol.nominate:
    <tr class="even">
      <th>Ideology</th>
      <td>
      $if pol.nominate >= 0:
          ${pol.nominate * 100}% right-wing
      $else:
          $abs(pol.nominate * 100)% left-wing
      </td>
      <td><a href="/p/by/nominate#$pol.id"
           ><img 
             src="/p/by/nominate/distribution.png?point=$pol.nominate"
             class="sparkline" /></a></td>
    </tr>
$if pol.predictability:
    <tr class="odd">
      <th>Predictability</th>
      <td>$int(pol.predictability * 100)%</td>
      <td><a href="/p/by/predictability#$pol.id"
           ><img 
             src="/p/by/predictability/distribution.png?point=$pol.predictability"
             class="sparkline" /></a></td>
    </tr>
</table>

<h2 class="rep">Interest Group Alignment</h2>

<table cellpadding="0" cellspacing="0" width="100%" class="interest_group_agreement">
<tr><th>Group</th><th>Agreement</th></tr>
$ trclass = "odd"
$for group in pol.related_groups:
    <tr class="$trclass">
      <td>$group.longname</td>
      <td>$int(group.agreement * 100)% (<a href="/p/$pol.id/$group.id">$group.agreed/$group.total votes</a>)</td>
    </tr>
    $if trclass == "odd":
        $ trclass = "even"
    $else:
        $ trclass = "odd"
</table>

<p><a href="/p/$pol.id/groups">More...</a></p>

<div class="sources">
  Money data from <a href="http://www.fec.gov/">the FEC</a>.
  Politician information from 
  $if pol.votesmartid:
      <a href="http://votesmart.org/bio.php?can_id=$pol.votesmartid"
      >Project Vote Smart</a>,
  <a href="$pol.wikipedia">Wikipedia</a>, 
  and <a 
    href="http://www.govtrack.us/congress/person.xpd?id=$pol.govtrackid"
  >GovTrack</a>.
  Earmark information from <a 
    href="http://taxpayer.net/earmarks.php"
  >Taxpayers for Common Sense</a>.
  Interest group alignment from 
  <a href="http://maplight.org/map/us/legislator">MAPLight.org</a>.
  Ideology and predictability from
  <a href="http://voteview.com/">VoteView</a>.
  $if pol.photo_credit_text:
      Photo from <a href="$pol.photo_credit_url">$pol.photo_credit_text</a>.
  Some campaign finance information from <a 
    href="http://opensecrets.org/politicians/summary.asp?CID=$pol.opensecretsid"
  >Open Secrets</a>. 
</div>

<p><strong>Developers:</strong> Get this page in <a href="${pol.id.lower()}.n3">N3</a>, <a href="${pol.id.lower()}.xml">XML</a>, or <a href="${pol.id.lower()}.json">JSON</a>.</p>

<p><em>Also known as:</em>
  $pol.govtrackid (GovTrack), 
  $pol.opensecretsid (OpenSecrets), 
  $pol.bioguideid (Congressional Bio), 
  $pol.icpsrid (ICPSR), 
  $pol.votesmartid (Vote Smart)\
$if pol.fec_ids:
    , \
    $for fec_id in pol.fec_ids: $fec_id \
    (FEC)\
</p>
