$def with (pol)

$var head:
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA32O3YO3sztAoMSWYheUtTBQYu38vSyEOJo4J0P8Mwlrd5U_lzhQ2ZoxaOYKY-qh7R36VeBWvCtHU5g" type="text/javascript"></script>
    <script src="http://www.govtrack.us/scripts/gmap-wms.js"></script>
	  <script src="/static/distmap.js"></script>
	  <script type="text/javascript">distcenter('googlemap', '$pol.district.replace('-0', '').replace('-', '')', [$pol.d0, $pol.d1, $pol.d2 - 2])</script>

$var title: $pol.firstname $pol.middlename $pol.lastname

$var pretitle:
    <div id="googlemap" class="pretitle sidemap"></div>
    
    $if pol.photo_path:
        <a href="$pol.photo_path"><img src="$pol.photo_path" alt="Headshot" class="headshot pretitle" /></a>

<p>
  represents <a href="/us/$pol.district">$pol.district</a><br />
  $pol.party, $pol.religion<br />
  $if pol.birthday: b. $pol.birthday<br />
  <a href="$pol.officeurl">Official website</a>
</p>

<h2 style="clear: both">Money</h2>

<table class="charted">
  <tr>
    <th>Raised</th>
    <td>\$$commify(pol.money_raised)</a></td>
    <td><a href="/p/by/money_raised#$pol.id"
         ><img src="/p/by/money_raised/distribution.png?point=$pol.money_raised"
               class="sparkline" /></a></td>
  </tr><tr>
    <th>Spent</th>
    <td>${int(pol.pct_spent * 100)}%</td>
    <td><a href="/p/by/pct_spent#$pol.id"
         ><img 
           src="/p/by/pct_spent/distribution.png?point=$pol.pct_spent"
           class="sparkline" /></a></td>

  </tr><tr>
    <th>From self</th>
    <td>${int(pol.pct_self * 100)}%</td>
    <td><a href="/p/by/pct_self#$pol.id"
         ><img 
           src="/p/by/pct_self/distribution.png?point=$pol.pct_self"
           class="sparkline" /></a></td>
  </tr><tr>
    <th>From individuals</th>
    <td>${int(pol.pct_indiv * 100)}%</td>
    <td><a href="/p/by/pct_indiv#$pol.id"
         ><img 
           src="/p/by/pct_indiv/distribution.png?point=$pol.pct_indiv"
           class="sparkline" /></a></td>
  </tr><tr>
    <th>From <acronym title="Political Action Committees">PAC</acronym>s</th>
    <td>${int(pol.pct_pac * 100)}%</td>
    <td><a href="/p/by/pct_pac#$pol.id"
         ><img 
           src="/p/by/pct_pac/distribution.png?point=$pol.pct_pac"
           class="sparkline" /></a></td>
  </tr>
</table>

<h2>Speeches</h2>

<table class="charted">
  <tr>
    <th>Spoke</th>
    <td><a href="http://www.govtrack.us/congress/person.xpd?tab=speeches&amp;id=$pol.govtrackid">$commify(pol.n_speeches) times</a></td>
    <td><a href="/p/by/n_speeches#$pol.id"
         ><img src="/p/by/n_speeches/distribution.png?point=$pol.n_speeches"
               class="sparkline" /></a></td>
  </tr><tr>
    <th>Avg. length</th>
    <td>$commify(pol.words_per_speech) words</td>
    <td><a href="/p/by/words_per_speech#$pol.id"
         ><img 
           src="/p/by/words_per_speech/distribution.png?point=$pol.words_per_speech"
           class="sparkline" /></a></td>
  </tr>
  <tr><th colspan="2">Data for 110th Congress</th></tr>
</table>

<h2>Earmarks</h2>

<table class="charted">
  <tr>
    <th>Requested</th>
    <td>$commify(pol.n_earmark_requested)</td>
    <td><a href="/p/by/n_earmark_requested#$pol.id"
         ><img 
           src="/p/by/n_earmark_requested/distribution.png?point=$pol.n_earmark_requested"
           class="sparkline" /></a></td>
  </tr><tr>
    <th>Total cost</th>
    <td>\$$commify(pol.amt_earmark_requested)</td>
    <td><a href="/p/by/amt_earmark_requested#$pol.id"
        ><img 
            src="/p/by/amt_earmark_requested/distribution.png?point=$pol.amt_earmark_requested"
            class="sparkline" /></a></td>
  </tr><tr>
    <th>Received</th>
    <td>$commify(pol.n_earmark_received)</td>
    <td><a href="/p/by/n_earmark_received#$pol.id"
         ><img 
           src="/p/by/n_earmark_received/distribution.png?point=$pol.n_earmark_received"
           class="sparkline" /></a></td>
  </tr><tr>
    <th>Total cost</th>
    <td>\$$commify(pol.amt_earmark_received)</td>
    <td><a href="/p/by/amt_earmark_received#$pol.id"
         ><img 
           src="/p/by/amt_earmark_received/distribution.png?point=$pol.amt_earmark_received"
           class="sparkline" /></a></td>
  </tr>
  <tr><th colspan="2">Data for fiscal year 2008</th></tr>
</table>

<h2>Bills</h2>

<table class="charted">
  <tr>
    <th>Co-sponsored</th>
    <td>$commify(pol.n_bills_cosponsored)</td>
    <td><a href="/p/by/n_bills_cosponsored#$pol.id"
         ><img 
           src="/p/by/n_bills_cosponsored/distribution.png?point=$pol.n_bills_cosponsored"
           class="sparkline" /></a></td>
  </tr>
  <tr>
    <th>Introduced</th>
    <td><a href="/p/$pol.id/introduced">$commify(pol.n_bills_introduced)</a></td>
    <td><a href="/p/by/n_bills_introduced#$pol.id"
         ><img 
           src="/p/by/n_bills_introduced/distribution.png?point=$pol.n_bills_introduced"
           class="sparkline" /></a></td>
  </tr>
  <tr>
    <th>Debated</th>
    <td>$commify(pol.n_bills_debated)</td>
    <td><a href="/p/by/n_bills_debated#$pol.id"
         ><img 
           src="/p/by/n_bills_debated/distribution.png?point=$pol.n_bills_debated"
           class="sparkline" /></a></td>
  </tr>
  <tr>
    <th>Enacted</th>
    <td>$commify(pol.n_bills_enacted)</td>
    <td><a href="/p/by/n_bills_enacted#$pol.id"
         ><img 
           src="/p/by/n_bills_enacted/distribution.png?point=$pol.n_bills_enacted"
           class="sparkline" /></a></td>
  </tr>
</table>

<h2>Special Interest Group Ratings</h2>

<table class="charted">
$if pol.nominate:
    <tr>
      <th>Ideology</th>
      <td>
      $if pol.nominate >= 0:
          ${pol.nominate * 100}% right-wing
      $else:
          $abs(pol.nominate * 100)% left-wing
      </td>
      <td><a href="/p/by/nominate#$pol.id"
           ><img 
             src="/p/by/nominate/distribution.png?point=$pol.nominate"
             class="sparkline" /></a></td>
    </tr>
$if pol.predictability:
    <tr>
      <th>Predictability</th>
      <td>$int(pol.predictability * 100)%</td>
      <td><a href="/p/by/predictability#$pol.id"
           ><img 
             src="/p/by/predictability/distribution.png?point=$pol.predictability"
             class="sparkline" /></a></td>
    </tr>
</table>

<table class="interest_group_ratings">
<tr><td></td>
$for group in pol.interest_group_table['groups']:
    <th><abbr title="$group['longname']">$group['groupname']</abbr></th>
</tr>
$for year in pol.interest_group_table['rows']:
    <tr><th>$year['year']</td>
    $for rating in year['ratings']:
        <td>$rating</td>
    </tr>
</table>

<h2>Interest Group Alignment</h2>

<table>
<tr><th>Group</th><th>Agreement</th></tr>
$for group in pol.related_groups:
    <tr>
      <td>$group.longname</td>
      <td>$int(group.agreement * 100)% (<a href="/p/$pol.id/$group.id">$group.agreed/$group.total votes</a>)</td>
    </tr>
</table>

<p><a href="/p/$pol.id/groups">More...</a></p>

<div class="sources">
  Politician information from <a href="$pol.wikipedia">Wikipedia</a> and 
  <a 
    href="http://www.govtrack.us/congress/person.xpd?id=$pol.govtrackid"
  >GovTrack</a>.
  Earmark information from <a 
    href="http://taxpayer.net/earmarks.php"
  >Taxpayers for Common Sense</a>.
  Interest group alignment from 
  <a href="http://maplight.org/map/us/legislator">MAPLight.org</a>.
  Ideology and predictability from
  <a href="http://voteview.com/">VoteView</a>.
  $if pol.photo_credit_text:
      Photo from <a href="$pol.photo_credit_url">$pol.photo_credit_text</a>.
  
  <br /><br /><strong>More:</strong>
  Campaign finance information from <a 
    href="http://opensecrets.org/politicians/summary.asp?CID=$pol.opensecretsid"
  >Open Secrets</a>. 
  Voting record from the <a 
    href="http://projects.washingtonpost.com/congress/members/$pol.bioguideid.lower()"
  >Washington Post</a>.
</div>

<p><strong>Developers:</strong> Get this page in <a href="${pol.id.lower()}.n3">N3</a>, <a href="${pol.id.lower()}.xml">XML</a>, or <a href="${pol.id.lower()}.json">JSON</a>.</p>

<p><em>Also known as:</em> $pol.govtrackid (GovTrack), $pol.opensecretsid (OpenSecrets), $pol.bioguideid (Biography), $pol.icpsrid (ICPSR)\
$if pol.fec_ids:
    , \
    $for fec_id in pol.fec_ids: $fec_id \
    (FEC)\
</p>
