$def with (polid, related)

$var title: Interest Group Alignment

<table>
<tr><th>Group</th><th>Agreement</th></tr>
$for group in related:
    <tr>
      <td>$group.longname</td>
      <td>$int(group.agreement * 100)% (<a href="/p/$polid/$group.id">$group.agreed/$group.total votes</a>)</td>
    </tr>
</table>

<div class="sources">
  Bill data comes from <a 
    href="http://www.govtrack.us/"
  >GovTrack</a>.
  Interest group data comes from
  <a href="http://maplight.org/map/us/"
  >MAPLight.org</a>.
</div>
