$def with (pol, related)

$var width: 90%
$var color: white

$var title: Interest Group Alignment

<style>
.header { background-color: #fff; font-weight: bold; border-bottom: 1px solid #999;  border-top: 1px solid #999; }
</style>

<p><a href="/p/$pol.id">&laquo; Back to $pol.name</a></p>

<h1>Interest Group Alignment</h1>

<table class="structure" width="100%">
<tr><td class="header">Group</td><td class="header">Agreement</td></tr>
$ trclass = "odd"

$for group in related:
    $if trclass == "odd":
        $ trclass = "even"
    $else:
        $ trclass = "odd"
    <tr class="$trclass"><td>$group.longname</td><td>$int(group.agreement * 100)% (<a href="/p/$pol.id/$group.id">$group.agreed/$group.total votes</a>)</td></tr>
   
</table>

<p><a href="/p/$pol.id">&laquo; Back to $pol.name</a></p>

<div class="sources">
  Bill data comes from <a href="http://www.govtrack.us/">GovTrack</a>.
  Interest group data comes from <a href="http://maplight.org/map/us/">MAPLight.org</a>.
</div>
