$def with (pol)

$var head:
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA32O3YO3sztAoMSWYheUtTBQYu38vSyEOJo4J0P8Mwlrd5U_lzhQ2ZoxaOYKY-qh7R36VeBWvCtHU5g" type="text/javascript"></script>
    <script src="http://www.govtrack.us/scripts/gmap-wms.js"></script>
	  <script src="/static/distmap.js"></script>
	  <script type="text/javascript">distcenter('googlemap', '$pol.district.replace('-0', '').replace('-', '')', [$pol.d0, $pol.d1, $pol.d2 - 2])</script>

$var title: $pol.firstname $pol.middlename $pol.lastname

$var pretitle:
    <div id="googlemap" class="pretitle sidemap"></div>
    
    $if pol.photo_path:
        <a href="$pol.photo_path"><img src="$pol.photo_path" alt="Headshot" class="headshot pretitle" /></a>

<p>
  represents <a href="/us/$pol.district">$pol.district</a><br />
  $if pol.birthday: b. $pol.birthday<br />
  $pol.party, $pol.religion<br />
  <a href="$pol.officeurl">Official website</a>
</p>

<div class="sources">
  Politician information from <a href="$pol.wikipedia">Wikipedia</a> and 
  <a href="http://www.govtrack.us/congress/person.xpd?id=$pol.govtrackid">GovTrack</a>. 
  Campaign finance information from <a href="http://opensecrets.org/politicians/summary.asp?CID=$pol.opensecretsid">Open Secrets</a>. 
  Voting record from the <a href="http://projects.washingtonpost.com/congress/members/$pol.bioguideid.lower()">Washington Post</a>.
  $if pol.photo_credit_text:
      Photo from <a href="$pol.photo_credit_url">$pol.photo_credit_text</a>.
</div>

<p><strong>Developers:</strong> Get this page in <a href="${pol.id.lower()}.n3">N3</a>, <a href="${pol.id.lower()}.xml">XML</a>, or <a href="${pol.id.lower()}.json">JSON</a>.</p>
