$def with (pol, contribs)

$var width: 90%
$var color: white

$var title: Contributors

<style>
.header { background-color: #fff; font-weight: bold; border-bottom: 1px solid #999;  border-top: 1px solid #999; }
</style>

<h1>Contributors to $pol.title $pol.name</h1>

<table class="structure" width="100%">
<tr><td class="header" style="text-align: right;">#</td><td class="header" style="width: 100%">Name</td><td class="header">Amount</td></tr>
$ trclass = "odd"

$for c in contribs:
    $ names = c.name.lower().replace(',', '').split(' ')
    $ name = '_'.join(names[1:])+'_'+names[0]
    $if trclass == "odd":
        $ trclass = "even"
    $else:
        $ trclass = "odd"
    <tr class="$trclass">
        <td style="text-align: right;">$loop.index</td><td> <a href="/contrib/$c.zip/$name">$format_name(c.name.title())</a></td>
        <td>\$$commify(int(c.amt))</td>
    </tr>
   
</table>

<br />
<span style="color: #EE4400">&larr;&nbsp;<a href="/p/$pol.id" class="more">Back to $pol.title $pol.name</a></span>

<div class="sources">
  Money data from the <a href="http://www.fec.gov/">FEC</a>.
</div>
