$def with (title, url, emailform, contacts, loadcontactsform, petition_or_page, msg=None)

$var title: Share the $petition_or_page

$if msg:
    $var msg: $:msg

<script>
\$(document).ready( function(){
    
    \$('#email').change(function set_provider(){
        
        email = \$('#email').val().toLowerCase();
        if (email.indexOf('@gmail') > 0 ||  email.indexOf('@google') > 0){
            \$('#provider').val('google');
        }
        else if (email.indexOf('@yahoo') > 0){
            \$('#provider').val('yahoo');
        }
        else if(email.indexOf('@msn') > 0 || email.indexOf('@hotmail') > 0){
            \$('#provider').val('msn');
        }
        else if(email.indexOf('@aol') > 0 ){
            \$('#provider').val('aol');
        }
    });

    var checkAll = function(){
        checked = \$('#selectall')[0].checked;
        cbs = \$('[@name=contacts]');
        for (i in cbs){
            cbs[i].checked = checked;
        } 
    }
    var fillTo = function(){
        cbs = \$('[@name=contacts]:checked');
        to_addresses = ""
        for (i=0; i< cbs.length; i++){
            to_addresses += cbs[i].value + ", "
        }
        to_field = \$('#emails').val(to_addresses)
    }
    \$('[@name=contacts]').click(fillTo); 
    \$('#selectall').click(function(){
        checkAll();
        fillTo();
    });
});
</script>

<h2>Share <a href='$url'>$:title</a> with your friends</h2>

<form name='contactform' method='POST' action='/share'>
$if not emailform.valid: <p class="error">Please try again after fixing the problems highlighted below:</p>
<fieldset id="sharepetition">
    <label for="emails">To:</label>
    $:emailform.emails.render()
    <label for="subject">Subject:</label>
    $:emailform.subject.render()
    <label for="body">Message:</label>
    $:emailform.body.render()
    <input type="hidden" name="url" value="$url">
    <button tabindex="4" type="submit">Send</button>
</fieldset>
</form>

$def sidebar():
    <form id="loadcontacts" name="loadcontacts" method="POST" action='/u/import_contacts' >
        <h2>Load contacts</h2>
        <p>Enter your email address to load contacts.</p>
        $:loadcontactsform.email.render()
        $:loadcontactsform.provider.render()
        <input type="hidden" name="url" value="$url">
        <input type="hidden" name="title" value="$title">
        <button type="submit">Load contacts</button>
    </form>
    $if contacts:
        <p class='select-all'>
            <input type="checkbox" id='selectall' name="selectall" value='all' />Select all ($len(contacts) contacts)</p>
        <div class='contacts-listing'>
            <ul>
            $for c in contacts:
                <li><input type='checkbox' name='contacts' value='$c.email' /><b>$c.name</b></br> $c.email</li>
            </ul>    
        </div>

$var sidebar: $:sidebar()


</div>
