$def with (user, petition, token)

$var width: 90%
$var color: white

$var title:
$var subject: Thanks for signing the petition

Hi $user.fname $user.lname,

Thanks for signing the petition "$:petition.title",

(If you didn't mean to sign this petition, please visit:
$:petition.url?m=unsign&token=$token&email=$user.email )

It would help even more if you could encourage your friends to
sign as well. Here's a message you can copy-and-paste:

------------------------------------------------------------

Dear Friend,

I hope you'll join me in signing the petition "$:petition.title". 
You can do so right now at:

$:petition.url

$:petition.description

$:petition.url

Thanks!
$user.fname $user.lname

-------------------------------------------------
[ this message was sent by http://watchdog.net/ ]
