$def with (form, msg=None, redirect="")

$var title: Sign up

$if not form.valid: <p class="error">Please try again after fixing the problems highlighted below:</p>

<div class="signup">
    <form name="signup" method="POST" >
    $:form.redirect.render()
        <table>
            <tr><td>Email</td><td>$:form.email.render()</td></tr>
            <tr><td>Password</td><td>$:form.password.render()</td></tr>
            <tr><td>Password again</td><td>$:form.password_again.render()</td></tr>
        </tr>
        </table>
        <input type="submit" name="submit" value="Sign up">
    </form>
</div>
