$def with (state)

$var width: 90%
$var color: white

$var title: $state.name

<h1>More about $state.name</h1>

<ul>
$for s in (state.senators or []):
    <li><a href="/p/$s.id">$s.title $s.firstname $s.lastname</a></li>
</ul>
<ul>
$for d in state.districts:
    $if d.name.lower() != state.code.lower():
        <li><a href="/us/$d.name.lower()">$d.name</a></li>
</ul>

<br style="clear: both" />

<p><strong>Developers:</strong> Get this page in <a href="${state.code.lower()}.n3">N3</a>, <a href="${state.code.lower()}.xml">XML</a>, or <a href="${state.code.lower()}.json">JSON</a>.</p>
