$def with (uid, info_form, password_form, msg=None)

$var width: 90%
$var color: white

$var title: User information

$if msg:
    $var msg: $msg

<form name="userinfo" method="POST" action="/user/$uid"> 
    $if not info_form.valid: <p class="error">Please try again after fixing the errors highlighted below:</p>
    $:info_form.render()
    <button type="submit">Save</button>    
    <button id="reset" onclick="window.location='/user/$uid'">Reset</button>
</form>

<br/><br/>

<form name="passwd" method="POST" action="/user/$uid?m=password"> 
    $:password_form.render()
    <button type="submit">Save</button>
</form>
