$def with (form, useremail=None, msg=None)

$var width: 90%
$var color: white

$var title: Write your representative

<script type="text/javascript" src="/static/js/wyr.js"></script>

<style>
fieldset#wyr { margin-top: 2em; }
#text fieldset td { padding: 0; margin: 0;}
</style>

$if msg:
    $var msg: $:msg

<form name="writerepform" method="POST">
    $if not form.valid:
         $if form.note: <p class="error">$form.note</p>
         $else: <p class="error">Please try again after fixing the errors highlighted below:</p>
<fieldset id="wyr">    
    <legend>Write your representative</legend>
       <table><tr><td><label for="prefix">Prefix</label>$:form.prefix.render()</td>
       <td><label for="fname">First name</label>$:form.fname.render()</td>
       <td><label for="lname">Last name</label>$:form.lname.render()</td></tr></table>
       <table>
       <tr><td><label for="addr1">Address</label>$:form.addr1.render()</td>
       <td><label for="addr2">&nbsp;&nbsp;</label>$:form.addr2.render()</td></tr>
       <tr><td><label for="city">City</label>$:form.city.render()</td>
           <td><label for="state">State</label>$:form.state.render()</td>
           
       <td><label for="zipcode">Zipcode</label>
            $:form.zipcode.render()- $:form.zip4.render()</td></tr><span id="note_zipcode"></span>

        <tr><td><label for="email">Email</label>
   $if useremail:
       <strong>$useremail</strong>
       <div style="display: none"> $:form.email.render() </div>
   $else:
       $:form.email.render()
   </td>
   <td><label for="phone">Phone</label>$:form.phone.render()</td>
   </tr>
   
   <tr><td colspan=3><label for="subject">Subject</label>$:form.ptitle.render()</td></tr>
   <tr><td colspan=3><label for="msg">Message</label>$:form.msg.render()</td></tr>
    $if form.captcha.pre:
        <tr><td colspan=2><label for="captcha">Verification</label>$:form.captcha.pre $:form.captcha.render()</td></tr>
   </table>
   </fieldset>
    <p><button type="submit">Send message</button></p>
</form>    

